<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Simpla Admin by dy.vsenho.com</title>
<link rel="stylesheet" href="/themes/default/css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/themes/default/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/themes/default/css/invalid.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/themes/default/css/facebox.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/themes/default/css/jquery.wysiwyg.css" type="text/css" media="screen" />
<script type="text/javascript" src="/themes/default/js/jquery.min.js"></script>
<script type="text/javascript" src="/themes/default/js/simpla.jquery.configuration.js"></script>
<script type="text/javascript" src="/themes/default/js/facebox.js"></script>
<script type="text/javascript" src="/themes/default/js/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="/themes/default/js/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="/themes/default/js/jquery.ui.datepicker-zh-CN.js"></script>
</head>
<body>
<div id="body-wrapper">
  <div id="main-content">
	
	<?php echo $this->content; ?>
	
    <div id="footer"> <small>
      &#169; Copyright 2010 Your Company | Powered by <a href="http://www.865171.cn">admin templates</a> | <a href="#">Top</a> </small> </div>
  </div>
  
  
  <div id="sidebar">
    
    <div id="sidebar-wrapper">
      <h1 id="sidebar-title"><a href="#">Simpla Admin</a></h1>
      <a href="http://www.865171.cn"><img id="logo" src="/themes/default/images/logo.png" alt="Simpla Admin logo" /></a>
      <div id="profile-links"> Hello, <a href="#" title="Edit your profile">865171</a>, you have <a href="#messages" rel="modal" title="3 Messages">3 Messages</a><br />
        <br />
        <a href="#" title="View the Site">View the Site</a> | <a href="#" title="Sign Out">Sign Out</a> </div>
      <ul id="main-nav">
        <li>
		  <a href="#" class="nav-top-item no-submenu current">系统概括</a>
		</li>
        <li>
          <a href="#" class="nav-top-item">管理中心</a>
          <ul>
            <li><a href="###">帐号设置</a></li>
            <li><a class="current" href="###">修改密码</a></li>
            <li><a href="#">快捷链接管理</a></li>
          </ul>
        </li>
        <li> <a href="#" class="nav-top-item">系统设置</a>
          <ul>
            <li><a href="###">基本设置</a></li>
            <li><a href="###">缓存设置</a></li>
            <li><a href="###">其他设置</a></li>
          </ul>
        </li>
        <li> <a href="#" class="nav-top-item">管理员</a>
          <ul>
            <li><a href="###">管理员</a></li>
            <li><a href="###">角色</a></li>
            <li><a href="###">权限</a></li>
            <li><a href="###">管理日志</a></li>
          </ul>
        </li>
        <li> <a href="#" class="nav-top-item">电影管理</a>
          <ul>
            <li><a href="###">电影管理</a></li>
            <li><a href="###">电影分类</a></li>
            <li><a href="###">地区</a></li>
            <li><a href="###">上映时间</a></li>
            <li><a href="###">电影明星</a></li>
          </ul>
        </li>
        <li>
		  <a href="#" class="nav-top-item">采集管理</a>
          <ul>
            <li>
				<a href="###">采集来源</a>
				<ul>
					<li><a href="###">来源管理</a></li>
					<li><a href="###">添加来源</a></li>
				</ul>
			</li>
            <li><a href="###">采集模型</a></li>
            <li><a href="###">采集模版</a></li>
            <li><a href="###">采集任务</a></li>
          </ul>
        </li>
        <li> <a href="#" class="nav-top-item">广告管理</a>
          <ul>
            <li><a href="###">分类</a></li>
            <li><a href="###">广告位</a></li>
            <li><a href="###">广告管理</a></li>
          </ul>
        </li>
        <li> <a href="#" class="nav-top-item">工具</a>
          <ul>
            <li><a href="#">更新缓存</a></li>
            <li><a href="#">生成静态页</a></li>
            <li><a href="#">数据库维护</a></li>
          </ul>
        </li>
      </ul>
      <div id="messages" style="display: none">
        <h3>3 Messages</h3>
        <p> <strong>17th May 2009</strong> by Admin<br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. <small><a href="#" class="remove-link" title="Remove message">Remove</a></small> </p>
        <p> <strong>2nd May 2009</strong> by Jane Doe<br />
          Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est. <small><a href="#" class="remove-link" title="Remove message">Remove</a></small> </p>
        <p> <strong>25th April 2009</strong> by Admin<br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. <small><a href="#" class="remove-link" title="Remove message">Remove</a></small> </p>
        <form action="#" method="post">
          <h4>New Message</h4>
          <fieldset>
          <textarea class="textarea" name="textfield" cols="79" rows="5"></textarea>
          </fieldset>
          <fieldset>
          <select name="dropdown" class="small-input">
            <option value="option1">Send to...</option>
            <option value="option2">Everyone</option>
            <option value="option3">Admin</option>
            <option value="option4">Jane Doe</option>
          </select>
          <input class="button" type="submit" value="Send" />
          </fieldset>
        </form>
      </div>
    </div>
	
    <noscript>
    <div class="notification error png_bg">
      <div> Javascript is disabled or is not supported by your browser. Please <a href="http://browsehappy.com/" title="Upgrade to a better browser">upgrade</a> your browser or <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">enable</a> Javascript to navigate the interface properly.
        Download From <a href="http://www.exet.tk">exet.tk</a></div>
    </div>
    </noscript>
	
  </div>
</div>
</body>
</html>
