<?php
    $breadcrumbs = array(
        '采集管理',
        '采集来源',
    );

    $menus = array(
        array('label'=>'来源列表', 'cur'=>true, 'url'=>'/Collect/Source/Index'),
        array('label'=>'添加来源', 'url'=>'/Collect/Source/Create'),
    );

    include $this->_tpl_dir . '/common/header.html';
?>
    <form id="collect-source-from" action="" method="post">
        <div class="tab-content default-tab" id="tab1">
          <table>
            <thead>
              <tr>
                <th>
                  <input class="check-all" type="checkbox" />
                </th>
				<th>来源编号</th>
				<th>显示顺序</th>
				<th>来源名称</th>
				<th>来源网站</th>
				<th>状态</th>
				<th>操作</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="20">
				  <div class="pagination">
				  <?php
					//new CPager($sources['pages']);
				  ?>
				  </div>
                  <!-- End .pagination -->
                  <div class="clear"></div>
                </td>
              </tr>
            </tfoot>
            <tbody>
				<?php
					foreach($sources['rows'] as $source) {
				?>
				<tr class="hover">
                	<td><input type="checkbox" value="<?php echo $source['collect_source_id']; ?>" name="source_id[]" /></td>
                    <td><?php echo $source['collect_source_id']; ?></td>
					<td><input type="text" size="5" value="<?php echo $source['collect_source_rank']; ?>" name="rank[<?php echo $source['collect_source_id']; ?>]" /></td>
					<td><?php echo $source['collect_source_name']; ?></td>
					<td><?php echo $source['collect_source_website']; ?></td>
					<td><?php echo $source['collect_source_status'] == CollectSourceModel::STAT_STATUS_NORMAL ? '启用' : '<span style="color:#f00;">禁用</span>'; ?></td>
					<td>
						<a href="<?php echo "/collect/source/update/id/{$source['collect_source_id']}";?>"><img src="/themes/default/images/icons/pencil.png" alt="修改" /></a>
						<a href="<?php echo "/collect/source/delete/id/{$source['collect_source_id']}";?>" onclick="return confirm('确定要删除采集来源<<?php echo $source['collect_source_name']; ?>>吗');"><img src="/themes/default/images/icons/cross.png" alt="删除" /></a>
					</td>
				</tr>
				<?php
					}
				?>
            </tbody>
          </table>
        </div>
    </form>
	<script type="text/javascript">
	<!--
	$('input[name=checkall]').click(function(){
		//
		if($(this).attr('checked')) {
			$('input[name="source_id[]"]').attr('checked', 'checked');
		} else {
			$('input[name="source_id[]"]').removeAttr('checked', '');
		}
	});
	
	//-->
	</script>

<?php include $this->_tpl_dir . '/common/footer.html'; ?>