<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Simpla Admin | Sign In by <?php echo $sitename; ?></title>
<link rel="stylesheet" href="/themes/default/css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/themes/default/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/themes/default/css/invalid.css" type="text/css" media="screen" />
<script type="text/javascript" src="/themes/default/js/jquery.min.js"></script>
<script type="text/javascript" src="/themes/default/js/simpla.jquery.configuration.js"></script>
<script type="text/javascript" src="/themes/default/js/facebox.js"></script>
<script type="text/javascript" src="/themes/default/js/jquery.wysiwyg.js"></script>
</head>
<body id="login">
<div id="login-wrapper" class="png_bg">
  <div id="login-top">
    <h1>Simpla Admin</h1>
    <a href="http://www.865171.cn"><img id="logo" src="/themes/default/images/logo.png" alt="Simpla Admin logo" /></a>
  </div>
  <div id="login-content">
    <form action="/default/login" method="post">
      <div class="notification information png_bg" style="display:none;">
        <div>&nbsp;</div>
      </div>
      <p>
        <label>用户名：</label>
        <input name="Login-Form[user_name]" tabindex="1" type="text" class="text-input" autocomplete="off" />
      </p>
      <div class="clear"></div>
      <p>
        <label>密码：</label>
        <input name="Login-Form[user_pwd]" tabindex="2" type="password" class="text-input" autocomplete="off" />
      </p>
	  <div class="clear">
        <label>验证码</label>
        <input name="Login-Form[captcha]" tabindex="3" type="text" class="text-input" autocomplete="off" />
      </div>
	  <div class="clear">
        <img id="captcha" src="/default/captcha" height="25" alt="点击这里更换验证码" title="点击这里更换验证码" style="cursor:pointer; padding-left:92px;" />
      </div>
      <div class="clear"></div>
      <p>
        <input class="button" type="submit" value="Sign In" />
      </p>
    </form>
  </div>
</div>
<script type="text/javascript">
<!--
	(function(){
		$('input[name="Login-Form[user_name]"]').focus();
	});
//-->
</script>
</body>
</html>
