<?php
    $breadcrumbs=array(
        '采集管理',
        '模板管理',
    );

    $menus = array(
        array('label'=>'模板列表', 'url'=>'/collect/template/index'),
        array('label'=>'添加模版', 'url'=>"/collect/template/create"),
        array('label'=>'修改规则', 'cur' => true, 'url'=>"/collect/template/update/id/{$template['collect_template_id']}"),
    );

    include $this->_tpl_dir . '/common/header.html';

    include dirname(__FILE__) . DS . '_form.html';

    include $this->_tpl_dir . '/common/footer.html';
    
?>